@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?iv703h');
  src:  url('fonts/icomoon.eot?iv703h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?iv703h') format('truetype'),
    url('fonts/icomoon.woff?iv703h') format('woff'),
    url('fonts/icomoon.svg?iv703h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call-support:before {
  content: "\e900";
}
.icon-category:before {
  content: "\e901";
}
.icon-check-circle:before {
  content: "\e902";
}
.icon-comb:before {
  content: "\e903";
}
.icon-cotton:before {
  content: "\e904";
}
.icon-credit-card:before {
  content: "\e905";
}
.icon-delivery-truck:before {
  content: "\e906";
}
.icon-double-leaves:before {
  content: "\e907";
}
.icon-earth:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-filter:before {
  content: "\e90a";
}
.icon-food:before {
  content: "\e90b";
}
.icon-foot:before {
  content: "\e90c";
}
.icon-guarantee:before {
  content: "\e90d";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-leaves:before {
  content: "\e910";
}
.icon-leaves-100:before {
  content: "\e911";
}
.icon-leaves-compatible:before {
  content: "\e912";
}
.icon-phone-call:before {
  content: "\e913";
}
.icon-pinterest:before {
  content: "\e914";
}
.icon-rabbit-heart:before {
  content: "\e915";
}
.icon-return:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-update:before {
  content: "\e919";
}
.icon-user:before {
  content: "\e91a";
}
.icon-user-shield:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-bag:before {
  content: "\e91d";
}


@keyframes shine {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.shine-effect {
  position: relative;
  overflow: hidden;
}

.shine-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-20deg);
  animation: shine 2s infinite;
}

.menu-header-text{
  color: var(--white);
}
.menu-header-text:hover{
  color: var(--custom-primary);
}

.shadow-custom2{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.product-body{
  background: #ffffff;
    border: 1px solid #ececec;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}



.fs-20{
  font-size: 20px;
}


.menu-main .sub-menu, .menu-main .mega-menu {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  transform: scaleY(0);
  transform-origin: top center;
  box-shadow: 0px 5px 25px 0px rgba(138, 159, 168, 0.25);
  font-size: 14px;
  color: var(--black);
}

.header-menu.fixed {
  background-color:#6faf8e !important;
  box-shadow: 0px 10px 25px 0px rgba(43, 52, 74, 0.12);
  top: 0;
  animation: animateHeader ease 0.5s;
}

.shiny-effect-container {
    position: relative;
    width: 60px; /* Adjust size */
    height: 60px; /* Adjust size */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Apply gradient to SVG by default */
.image {
    width: 100%;
    height: 100%;
    fill: url(#gradient); /* Apply initial gradient (top to bottom) */
    transition: fill 1s ease; /* Smooth transition of fill */
}

/* On hover, change the gradient smoothly (bottom to top) */
.shiny-effect-container:hover .svg-path {
  fill: #FF5733; /* Bottom to top gradient on hover */
}

.shiny-effect-container {
  position: relative;
  width: 60px; /* Adjust size */
  height: 60px; /* Adjust size */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


@media (min-width: 1280px) {
  .container {
      max-width: 85% !important;
      padding-right: 80px !important;
      padding-left: 80px !important;
  }
}


/* Styles for desktop devices (minimum width 786px) */
@media (min-width: 786px) {
  .shiny-effect-container {
    position: relative;
    width: 60px;  /* Larger size for desktop */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;  /* Optional: adjust font size for desktop */
  }

  .shiny-effect-container p {
    font-size: 12px; 
  }
}

/* Styles for mobile devices (minimum width 300px) */
@media (max-width: 785px) {
  .shiny-effect-container {
    position: relative;
    width: 50px;  /* Smaller size for mobile */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 12px;  /* Optional: smaller font size for mobile */
  }

  .shiny-effect-container p {
    font-size: 12px !important; 
  }
}

.fs-12{
  font-size: 12px;
}


@keyframes slideGradient {
  0% {
      background-position: -45% -200%;
  }
  50% {
      background-position: 200% 45%;
  }
  100% {
      background-position: -200% -45%;
  }
}

.animate-gradient {
  background-size: 400% 400%;  /* Larger background area for smooth transition */
  background-image: linear-gradient(225deg, #ffffff, #d9d9d9);  /* Add angle to gradient */
  animation: 15s ease-in-out infinite;
}


/* Add this CSS to your global styles or in a CSS module */
.shimmer-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.3) 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 32px; /* Match the border-radius of your images */
  display: block;
}

.loading {
  display: block;
}

@keyframes shimmer {
  100% {
      background-position: 200% 0;
  }
}


.shimmer-wrapper {
  position: relative;
  display: inline-block;
}

.shimmer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  z-index: 1;
}

@keyframes shimmer {
  0% {
      background-position: -200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

.image-loaded .shimmer-overlay {
  display: none; /* Hide shimmer overlay once image is loaded */
}




.auto-shining {
  position: relative;
  overflow: hidden;
}

.auto-shining::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start shimmer from outside the left */
  width: 200%; /* Span beyond the width to cover the element */
  height: 100%;
  background: linear-gradient(90deg, transparent, rgb(255, 255, 255), transparent);
  opacity: 0.6;
  transform: skewX(-20deg);
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.section-swiper-navigation.style-outline .swiper .swiper-button-prev {
  left: -20px;
  top: calc(50% - 10px) !important;
}

.section-swiper-navigation.style-outline .swiper .swiper-button-next {
  right: -20px;
  top: calc(50% - 10px) !important;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.m-width-call{
  width: 138px;
}


hr{
  color: #dbdbdb !important;
}

.menu-main .sub-menu li a, .menu-main .sub-menu li .link, .menu-main .mega-menu li a, .menu-main .mega-menu li .link {
  padding: 3px 0 !important;
}


.padding-0{
  padding: 0 !important;
}

.text-button-uppercase {
  font-size: 12px !important;
  line-height: 23px;
  font-weight: 600;
  text-transform: uppercase;
}


.coll17 {
  background-color: rgba(0, 0, 0, .1);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(10px);
  box-shadow: 1px 5px 22px -3px rgba(0, 0, 0, .28);
  -webkit-box-shadow: 1px 5px -6px -3px rgba(0, 0, 0, .75);
  background-image: linear-gradient(rgba(0, 0, 0, .588), hsla(0, 0%, 82%, 0));
}

.shadow-custom{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.shining-text {
  font-size: 3rem; /* Large text */
  font-weight: bold; /* Bold text */
  background: linear-gradient(90deg, #ce6d58, #d57159, #fcfcfc, #ffa58f, #ffa38c);
  background-size: 400% 100%;
  background-clip: text; /* Standard property */
  -webkit-background-clip: text; /* Vendor prefix for compatibility */
  -webkit-text-fill-color: transparent; /* Transparent text for gradient */
  animation: shine 3s linear infinite;
  line-height: 50px;
}


@media (max-width: 786px) {
  .shining-text {
    font-size: 1.6rem;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.overlay-custom {
  --tw-gradient-from: rgb(0, 0, 0) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(31 31 31 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}


/* Content Panel */
.content-panel {
  padding: 20px;
  border-radius: 8px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 400px; /* Default height */
  opacity: 1;
}

.content-panel.collapsed {
  max-height: 117px; /* Collapsed height */
  opacity: 0.7;
}

.caption10 {
  font-size: 11px;
  line-height: 12px;
  font-weight: 400;
}

.border-line-green {
  --tw-border-opacity: 1;
  border-color: rgb(166 212 136);
}



@keyframes bounce-x {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(4px);
  }
}
.animate-bounce-x {
  display: inline-block;
  animation: bounce-x 1s linear infinite;
}

.places{
  font-size: 12px;
}
.text-light-red{
  color: #ff7b7b;
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}



/* Skeleton loader animation */
.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton-block {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.skeleton-text {
  height: 16px;
  margin-bottom: 8px;
  width: 80%;
  border-radius: 4px;
}

.skeleton-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sticky-bread{
  background: #fffae9;
  border: 1px solid #fff8e1;
}


::-webkit-scrollbar {
  width: 2px !important; /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5 !important; /* Scroll thumb color */
  border-radius: 5px; /* Rounded corners */
  border: 2px solid #f1f1f1 !important; /* Border color to match the track */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important; /* Track color */
  border-radius: 5px !important; /* Rounded corners */
}

.font-14{
  font-size: 14px;
}

.list-type1 .item:not(:nth-child(1)), .list-type .brand-item:not(:nth-child(1)), .list-brand .item:not(:nth-child(1)), .list-brand .brand-item:not(:nth-child(1)) {
  margin-top: 0px;
}


.compare-crs{
  font-size: 12px;
    background: #108470;
    padding: 0px 7px !important;
    height: 25px;
    border-radius: 4px !important;
    border: 1px solid #108470;
    color: white;
}

.fixed-bottom-menu{
  position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: #ffffff;
    height: 52px;
    z-index: 9999;
}

.days,
.nights {
  font-size: 23px; /* Default for mobile devices */
  font-weight: 800;
  line-height: 30px;
}

.font-7px{
  font-size: 7px;
}

.font-9px{
  font-size: 9px;
}

.font-12px{
  font-size: 12px;
}

@media (min-width: 768px) {
  .days,
  .nights {
    font-size: 60px; /* Larger font size for tablets and desktops */
    line-height: 60px;
  }

  .font-7px{
    font-size: 12px;
  }
  
  .font-9px{
    font-size: 14px;
  }

  .font-12px{
    font-size: 16px;
  }
}

.days {
  color: #de6868;
}

.nights {
  color: #cbcbcb;
}





.desc-block1 {
  position: relative;
  margin-bottom: 0.5rem; /* Adjust padding as needed */
  margin-top: 0.5rem;     /* Adjust margin as needed */
}

.border-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.border-left {
  flex-grow: 1;
  height: 0.8px; /* Border height */
  background: linear-gradient(90deg, #fffcfa, #ff7e5f); /* Gradient from pink to orange */
}

.border-right {
  flex-grow: 1;
  height: 0.8px; /* Border height */
  background: linear-gradient(90deg, #ff7e5f, #fffcfa); /* Gradient from pink to orange */
}

.icon-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem; /* Space for the icon */
}

.icon-center svg {
  width: 24px; /* Icon size */
  height: 24px; /* Icon size */
  color: #000;  /* Icon color */
}


.menu-tab .tab-item.active {
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 2px 2px 0px rgba(28, 36, 51, 0.1);
  border-radius: 5px;
  padding: 0px 10px;
  border-bottom: none;
}


.has-line-before.active::before, .has-line-before:hover::before {
  width: 0 !important;
}


.section-swiper-navigation .swiper-button-prev, .section-swiper-navigation .swiper-button-next {
  color: var(--black);
  background-color: var(--white);
  width: 43px !important;
  height: 43px !important;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.h-80px{
  height: 80px;
}


.color-green{
  color: #108470;
}


.th-lde-wrapper {
  display: flex;
  border-radius: 5px;
  border: 1px solid #e1ffc4;
  background: rgb(69 252 23 / 10%);
  width: 100%;
  height: 49px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0 0;
  color: #35ab38;
  font-size: 13px;
  font-weight: 400;
}

.th-lde-wrapper .th-lde-label {
  margin-right: 2.5px;
  margin-left: 10px;
}

.th-suggestion-section {
  padding: 15px 0 15px 15px;
  width: auto;
  background: rgb(236 255 231);
  border-radius: 5px;
}

.th-suggestion-section .suggestion-head {
  padding-right: 15px;
}

.th-suggestion-section .suggestion-type {
  display: flex;
  justify-content: space-between;
}

.th-lead-form-widget-wrapper, div, input, span {
  box-sizing: border-box !important;
}

.th-suggestion-section .suggestion-type .left-section-wrapper .recommended-section {
  display: flex
;
  align-items: center;
  gap: 10px;
}

.th-suggestion-section .suggestion-type .text {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  font-style: normal;
  letter-spacing: .2px;
  /* text-transform: uppercase; */
  color: #2a952d;
  /* font-family: Bebas Neue; */
}

.th-suggestion-section .suggestion-type .line {
  height: 1px;
  width: 54px;
  background-color: #35ab38;
}


.th-suggestion-section .suggestion-type .right-section-wrapper {
  display: flex
;
  position: relative;
  top: -15px;
  width: 64px;
  height: 62px;
  align-items: center;
  right: -5px;
}

.td-inclusion{
  background: rgb(255 237 197 / 31%);
  border: 1px solid #ffedc5;
}

.th-suggestion-section .suggestion-text {
  color: #35ab38;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 33px;
  text-transform: capitalize;
  width: calc(100% + 20px) !important;
  display: flex;
}

.included{
  font-size: 20px !important;
    color: #fda900;
}

.sticky-top1 {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
}


/* .container {
  padding-right: 12px !important;
  padding-left: 12px !important;
} */

.bg-light-custom{
  background: #f0f0f0;
}

.color-green{
  color: green;
}

























